<a href="https://colab.research.google.com/github/NicoJassan/Clase-1-Algoritmos/blob/main/funicon_MAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**$$Funcion MAP y Lambda$$**


[Funcion MAP](https://docs.python.org/3/library/functions.html#map)

In [4]:
# prompt: dame 5 ejemplos de map

# Ejemplo 1: Elevar al cuadrado cada elemento de una lista
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(f"Ejemplo 1: {squared_numbers}")

# Ejemplo 2: Convertir cadenas a may√∫sculas
words = ["hello", "world", "python"]
uppercase_words = list(map(lambda word: word.upper(), words))
print(f"Ejemplo 2: {uppercase_words}")

# Ejemplo 3: Obtener la longitud de cada cadena en una lista
strings = ["apple", "banana", "cherry"]
string_lengths = list(map(len, strings))  # Usando len directamente
print(f"Ejemplo 3: {string_lengths}")


# Ejemplo 4: Combinar dos listas elemento a elemento
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list(map(lambda x, y: x + y, list1, list2))
print(f"Ejemplo 4: {combined_list}")

# Ejemplo 5: Convertir temperaturas de Celsius a Fahrenheit
celsius_temperatures = [0, 10, 20, 30]
fahrenheit_temperatures = list(map(lambda c: (9/5)*c + 32, celsius_temperatures))
print(f"Ejemplo 5: {fahrenheit_temperatures}")

Ejemplo 1: [1, 4, 9, 16, 25]
Ejemplo 2: ['HELLO', 'WORLD', 'PYTHON']
Ejemplo 3: [5, 6, 6]
Ejemplo 4: [5, 7, 9]
Ejemplo 5: [32.0, 50.0, 68.0, 86.0]